$primary-color: #0687F9;
$bright-color: #ECECEA;
$dark-color: #343a40;
$positive-color: #F19B43;
$negative-color: #dc3545;
$max-width: 1100px;

//  set text color based on background
@function set-text-color($color) {
    @if (lightness($color) > 60) {
        @return #333;
    } @else {
        @return #fff;
    }
 }
 
 // set background & text color
 @mixin set-background($color){
    background-color: $color;
    color: set-text-color($color);
 }

//  Margin & Padding
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {

    // Full margin
    .m-#{$space} {
        margin: #{$space}rem;
    }

    // Vertical margin
    .mvertical-#{$space} {
        margin: #{$space}rem 0;
    }

    // Full padding
    .p-#{$space} {
        padding: #{$space}rem;
    }

    // Vertical padding
    .pvertical-#{$space} {
        padding: #{$space}rem 0;
    }

}