.form{

  &-signIn{
    max-width: 350px;
    margin: auto;
  }

  &-signUp{
    max-width: 650px;
    margin: auto;
  }

  &-comment{
    width: 100%;
    margin: 25px;
    padding: 0px;
    flex-direction: row;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  select{
      display: block;
      width: 100%;
      padding: 0.4rem;
      font-size: 1.2rem;
      height: 38px;
  }
}