@import './config.scss';
@import './utilities.scss';
@import './form.scss';
@import'./modal.scss';
@import'../../../../api/node_modules/react-datepicker/dist/react-datepicker.css';
@import'../../../../api/node_modules/react-datepicker/dist/react-datepicker-cssmodules.css';

 

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.header{

    .links-scss{
        color: #333;
        padding: 0.45rem;
        margin: 0 0.25rem;

        &:hover{
            color: $primary-color;
        }
    }
}

.pantalla{
    position: relative;
    background: url('../img/thumb-1920-692043.jpg') no-repeat center center/cover;
    min-height: 100vh;
    padding: 1px;

    &-interna{
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &-muscleTipe{
        position: relative;
        background: url('../img/lockerRoom.png') no-repeat center center/cover;
        min-height: 100vh;
        padding: 1px;

        &-darkBlur{
            position: absolute;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(0px);
        }
    }

    &-videoList{
        position: relative;
        height: 100vh;
        background: url('../img/salon\ exercise.jpg') no-repeat center center/cover;
        padding: 1px;
        filter: brightness(90%);

        &-darkBlur{
            position: absolute;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(0px);
        }
    }

    &-Profile{
        position: relative;
        min-height: 100vh;
        background: url('../img/people_workingOut.jpeg') no-repeat center center/cover;
        
        &-blur{
            width: 100%;
            height: 100vh;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(8px);
        }
    }

    &-card-profile{
        position: relative;
          height: auto;
          width: 100%;
          background-image: url('../img/texture.jpg');
          border-radius: 30px;
          overflow: hidden;
          box-shadow: 10px 12px 10px 0 rgba(0,0,0,0.3);
    }

    &-dark-mate{
        position: relative;
        background-color: rgb(34, 33, 32);
        color: white;
        min-height: 100vh;
        padding: 1px;
    }


}


// Menu , picture profile
.headerContent{
    display: flex;
    align-items: center;
    align-content: center;
    
    .-before-login{
        display: flex;
        align-items: center;
        padding: 3.5px;
    }
}

.avatar-container{
    width: 36px;
    height: 36px;

    &-profile{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
        width: 100px;
        height: 110px;
    
    }

    &-profile-commentBox{
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
    }
}


.avatar-mini{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// page no found
.notfound{
    margin: 121px 121px 0px;
    color: black;
}
