.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: $oscuro-color;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container{

    &-button{
        display: flex;
        padding: 15px;
        margin: 0px 15px 0px;
        justify-content: flex-end;
    }
}

.inputModal{
    width: 90%;
    border: 0;
    border-bottom: 1px solid $oscuro-color;
    outline: 0;
    color: $oscuro-color;
    background: transparent;
    transition: border-color 0.2s;

    &:hover{
        border-bottom: 2px solid $primary-color;
        color: $primary-color;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        width: 100%;
    }

    &-small{
        width: 50%;
        margin: 16px 20px;
        padding-right: 1rem;
        border: 0;
        border-bottom: 1px solid $oscuro-color;
        outline: 0;
        color: $oscuro-color;
        background: transparent;
        transition: border-color 0.2s;
    
        &:hover{
            border-bottom: 2px solid $primary-color;
            color: $primary-color;
        }    
    }
}

.labelModal{
    display: block;
    color: $oscuro-color;
    padding: 0px;
    margin: 0px;
}

.botonModal{
    display: flex;
    padding: 0rem 0rem 0rem 1rem;
    margin: 0px;
    background: transparent;
    color: $oscuro-color;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    &:hover{
        color: $primary-color;
    }
}


// Actions dinamyc of inputs and label
.inputModal:hover + .labelModal{
    color: $primary-color;
}

.inputModal:focus + .labelModal{
    color: $positive-color;
}

.inputModal:focus{
    border-bottom: 2px solid $positive-color;
    color: $positive-color;
}
.inputModal-small:focus{
    border-bottom: 2px solid $positive-color;
    color: $positive-color;
}
