body
{
  margin:0;
  padding:0;
  background:#FCFBFB;
}

.ring{
position:absolute;
top:171px;
left: 323px;
  width: 150px;
  height:152px;
  margin: auto;
  background:transparent;
  text-align:center;
align-content: center;
}
