// Containers
.container{

    &-signup{
        max-width: 900px;
        margin: auto;
        overflow: hidden;
        padding: 0 2rem;
        margin-top: 10rem;
        margin-bottom: 3rem;
    }

    &-signin{
        max-width: 600px;
        margin: auto;
        overflow: hidden;
        padding: 0 2rem;
        margin-top: 10rem;
        margin-bottom: 3rem;
    }

    &-muscle{
        max-width: 1600px;
        margin: 0;
        overflow: hidden;
        padding: 0;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    &-video{
        max-width: 1600px;
        margin: 0;
        overflow: hidden;
        padding: 0;
        margin-top: 4rem;
        margin-bottom: 0rem;    
    }

    &-commentBox{
        margin: 10px;
        padding: 10px;
        text-align: justify;
    }
}

// Image's & pictures profile

.Image-container{

    &-muscleTipe{
        filter: brightness(90%);
        background-image: url('../img/lockerRoom.png');
        background-repeat: no-repeat;
        background-position: center;  
        background-size: cover; 
    }

    &-exerciseTipe{
        filter: brightness(90%); 
        background-image: url('../img/salon\ exercise.jpg');
        background-repeat: no-repeat;
        background-position: center;  
        background-size: cover; 
    }
}

// Titles , Header & texts / styles

.Title-container{
    align-items: center;
    display: block;
    margin: 0rem;
    margin-bottom: 0rem;
    padding: 25%;
    padding-left: 25%;
    border-style: none;

    &-Profile{
        align-content: center;
        position: absolute;
        top: 30px;
        padding: 0 25rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
}

.title-big{
    filter: brightness(100%); 
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.highlight-title{
    filter: brightness(100%); 
    font-family: 'Prata', serif;
}

.highlight-title2{
    filter: brightness(100%); 
    font-family: 'Prata', serif;
    color: $positive-color;
}

.grande{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.title-small{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.title-p-small{
    filter: brightness(100%); 
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

.title{

    &-Comment{
        font-size: 1.2rem;
        font-weight: bolder;    
    }
}

.texto-secundary{
    color: #fff;
}

.texto-positive{
    color: $positive-color;
}

.Title-menu{
    color: $claro-color;
    top: 50%;
    transition: padding-left .6s ease-out;   
    &:hover{
        padding-left: 10%;
        color: $positive-color;
        text-decoration:  $positive-color;
        cursor: pointer;
    }
}

.Header{

    &-ProfilePicture-CommentForm{
        display: grid;
        grid-template-columns: 1fr 11fr 1fr;
        padding: 0px;
        width: 100%;
        align-items: center;
        box-shadow: black;
    }
}

.textarea-style{
    font-size: 1rem;
    width: 100%;
    margin: 0px;
    margin-bottom: -2px;
    padding: 0px;
    height: auto;
    line-height: 24px; 
    background: none;
    border: none;
    color:white;
    outline: none;
    overflow: auto; 
    resize: none;
}

.LookeLikeTextArea{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;

    &:empty::before{
        content: attr(placeholder);
        color: #ccc;
    }
}


// backgrounds & images 
.img-profile{
    border-radius: 50%;
    padding-right: 1.5rem;
}

.fondo{
    &-primary{
      @include set-background($primary-color)
    }

    &-claro{
        @include set-background($claro-color)
    }

    &-oscuro{
        @include set-background($oscuro-color)
    }

    &-positive{
        @include set-background($positive-color)
    }

    &-negative{
        @include set-background($negative-color)
    }
}

.img-exercise{
    width: 100%;
    padding: 0%;
    margin: 0rem;
    border-radius: 50px;
}

.wrap-img{
    position: relative;
    height: 234px;
    width: 400px;
}

// buttons
.boton{

    &.-primary{
        @include  set-background($primary-color);

        &-long{
            @include  set-background($primary-color);
            width: 97.4%;
            &:hover{
                background: lighten($primary-color, 5%);
            }    
        }

        &:hover{
            background: lighten($primary-color, 5%);
        }
    }

    &.-oscuro{
        @include set-background($oscuro-color);
        &:hover{
            background: lighten($oscuro-color, 5%);
        }
    }

    &.-positive{
        @include set-background($positive-color);
        color: white;
        &:hover{
            background: lighten($positive-color, 5%);
        }
    }

    &.-negative{
        @include set-background($negative-color);

        &-long{
            @include set-background($negative-color);
            width: 97.4%;

            &:hover{
                background: lighten($negative-color, 5%);
            }    
        }

        &:hover{
            background: lighten($negative-color, 5%);
        }

        &-delete{
            background-color: transparent;
            color: $negative-color;
            border: none;

            &:hover{
                color: lighten($negative-color, 5)
            }
        }
    }

    &.-claro{
        @include set-background($claro-color);
        &:hover{
            background: lighten($claro-color, 5%);
        }

    }

    &-border-line-positive{
        display: block;
        width: 120px;
        height: 30px;
        margin: 0 auto 10px auto;
        background: none;
        border: 1px solid $positive-color;
        border-radius: 15px;
        font-size: 15px;
        font-weight: 600;
        box-sizing: border-box;
        transition: all .3s ease-in-out;
        color: $positive-color;
        cursor: default;
        &:hover {
            background: $positive-color;
            color: $claro-color;
        }

        &-small{
            display: block;
            width: 60px;
            height: 30px;
            margin: 0 auto 10px auto;
            background: none;
            border: 1px solid $positive-color;
            border-radius: 15px;
            font-size: 15px;
            font-weight: 600;
            box-sizing: border-box;
            transition: all .3s ease-in-out;
            color: $positive-color;

            &:hover {
                background: $positive-color;
                color: $claro-color;
            }
        }
    }
}

.like-dislike-button{
    text-decoration: none;
    color: white;
    background: none;
    border-style: none;
    outline: 0;

   &:hover{
       cursor: pointer;
       color: $positive-color;
   }

    &:focus{
        color: $positive-color;
    }
    
}

// Dynamic list
.lista-ul{
    width: 100%;
    display: grid;
    grid-template-columns: 29.1% 29.1% 29.1%;
    grid-gap: 20px;
    padding: 10px 0px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
    overflow-y: auto;
    background-color: rgb(34, 33, 32);
}

.lista{
    padding: 50px 50px;
    max-width: 300px;
}

.lista-menu-muscle{
    max-width: 1450px;
    max-height: 500px;
    width: 100%;
    padding: 0;
    margin: 0rem;
    display: flex;
    position: relative;
    margin-right: 0rem;
    padding-bottom: -10px;
    line-height: 1px;
}

// Menus

.menu-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px;
    padding: 0px 0px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
}

.menu-muscle{
    position: relative;
    display: flex;
    padding: 0;
    padding-left: 0rem;
    margin-bottom: 0rem;
    margin: 0rem;
    margin-right: 0rem;
    border-style: none;
    width: 100%;

    &-details{
        position: relative;
        display: flex;
        padding: 0%;
        margin-bottom: 0rem;
        margin: 0rem;
        border-style: none;
        width: 100%;
    }    
}    

.wrap-page{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

// info/ data / dates

.info-muscle{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(2, 2, 2, 0.74);
    color: #fff;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    border-radius: 50px;

    &:hover{
        visibility: visible;
        opacity: 1;
    }
}

.info-align{
    margin-top: 15%;

    // mobile size
    @media (min-width: 320px) and (max-width: 480px){
        margin-top: 10%;
    }

    // tablet size
    @media (min-width: 481px) and (max-width: 769px){
        margin-top: 20%;
    }

    // laptos, pc, big screen size
    @media (min-width: 770px){
        margin-top: 15%;
    }

}

.box-data-info{
    box-sizing: border-box;
    width: 100%;
    height: 74px;
    background: #F5E8DF;
    text-align: center;
    padding-top: 20px;
    transition: all .4s ease-in-out;
    
    &:hover {
        background: $positive-color;
        color: $claro-color;
    }
    
    &:nth-child(2) {
        margin: 1px 0;
    }
}


// Animations
.arrow{
    font-size: 35px;
    height: 120px;
    bottom: 90px;
    padding: 0rem;

    .links-scss{
        color: $positive-color;
        cursor: pointer;
    }
}


.rayita-textarea{
    height: 1px;
    background-color: $positive-color;
    border: none;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

    &:focus{
        background-color: black;
    }
}

.rayita{
    border-style: solid;
    border-color: $positive-color;
    border-width: 1px 0 0 0 ;
}


// Videos, iframes, media player

.screen2 iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.commentBox{
    min-height: 10px;
}

//color for letters
.white-letter{
    color: $claro-color;
}

.black-letter{
    color: $oscuro-color;
    font-weight: bold;
}

.positive-letter{
    color: $positive-color;
}

.gray-letter{
    color: gray;
}

.links-scss{
        text-decoration: none;
        color: $primary-color;
}
    
.link-header-scss{
        text-decoration: none;
        color: #333;
        &:hover{
            color: $primary-color;
        }
}
    
.color-bottom{
    border-bottom: solid 2px $primary-color;
}

//class for extra properties
.extra{
    &-mt-x5{
        margin-top: 5.5rem !important;
    }
    
    &-mt-30vh{
        margin-top: 30vh !important;
    }

    &-mt-responsive{
        margin-top: 45vh !important;
    }


    &-pt-x10{
        padding-top: 10rem !important;
    }

    &-ptYpb-of0-to1{
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        @media (min-width: 320px) and (max-width: 767px) {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }
    }

    &-ptYpb-of0-to3{
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        @media (min-width: 320px) and (max-width: 767px) {
            padding-top: 3rem !important;
            padding-bottom: 3rem !important;
        }
    }

    &-ptYpb-of3-to1{
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;

        @media (min-width: 320px) and (max-width: 767px) {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }
    }

    &-max-w{
        max-width: 500px;

        @media (min-width: 320px) and (max-width: 767px){
            max-width: 300px;
        }
    }
}


.ratio-4x3{
    
    // large screen, laptop, 
    @media (min-width: 770px){
        --bs-aspect-ratio: 40%; 
    }
    
    // tablet size
    @media (min-width: 481px) and (max-width: 769px){
        --bs-aspect-ratio: 50%;
    }
}

// Input for cam button in card
input[type="file"] {
    display: none;
  }
